//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 28 00:52:57 2020
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_R<0>" LOCATE = SITE "N21" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "N22" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "R21" LEVEL 1;
COMP "BTN_X<4>" LOCATE = SITE "W16" LEVEL 1;
COMP "BTN_X<3>" LOCATE = SITE "W15" LEVEL 1;
COMP "BTN_X<2>" LOCATE = SITE "W19" LEVEL 1;
COMP "BTN_X<1>" LOCATE = SITE "W18" LEVEL 1;
COMP "BTN_X<0>" LOCATE = SITE "V17" LEVEL 1;
COMP "HS" LOCATE = SITE "M22" LEVEL 1;
COMP "VS" LOCATE = SITE "M21" LEVEL 1;
COMP "SEGLED_CLK" LOCATE = SITE "M24" LEVEL 1;
COMP "CLK_200M_N" LOCATE = SITE "AD18" LEVEL 1;
COMP "CLK_200M_P" LOCATE = SITE "AC18" LEVEL 1;
COMP "LED_PEN" LOCATE = SITE "N24" LEVEL 1;
COMP "BTN_Y<3>" LOCATE = SITE "W14" LEVEL 1;
COMP "BTN_Y<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "BTN_Y<1>" LOCATE = SITE "V19" LEVEL 1;
COMP "BTN_Y<0>" LOCATE = SITE "V18" LEVEL 1;
COMP "VGA_B<0>" LOCATE = SITE "T20" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "T23" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "R20" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "T22" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "R22" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "T25" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "R23" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "T24" LEVEL 1;
COMP "SEGLED_PEN" LOCATE = SITE "R18" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "AA10" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "AB10" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "AA13" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "AA12" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "Y13" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "Y12" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "AD11" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "AD10" LEVEL 1;
COMP "RSTN" LOCATE = SITE "W13" LEVEL 1;
COMP "LED_DO" LOCATE = SITE "M26" LEVEL 1;
COMP "SEGLED_DO" LOCATE = SITE "L24" LEVEL 1;
COMP "LED_CLK" LOCATE = SITE "N26" LEVEL 1;
PIN MIPS/DATA_RAM/Mram_data_pins<63> = BEL "MIPS/DATA_RAM/Mram_data" PINNAME
        CLKARDCLKU;
PIN MIPS/DATA_RAM/Mram_data_pins<62> = BEL "MIPS/DATA_RAM/Mram_data" PINNAME
        CLKARDCLKL;
PIN MIPS/DATA_RAM/Mram_data_pins<65> = BEL "MIPS/DATA_RAM/Mram_data" PINNAME
        CLKBWRCLKU;
PIN MIPS/DATA_RAM/Mram_data_pins<64> = BEL "MIPS/DATA_RAM/Mram_data" PINNAME
        CLKBWRCLKL;
TIMEGRP CLK_GEN_clkout3 = BEL "rst_count_0" BEL "rst_count_1" BEL
        "rst_count_2" BEL "rst_count_3" BEL "rst_count_4" BEL "rst_count_5"
        BEL "rst_count_6" BEL "rst_count_7" BEL "rst_count_8" BEL
        "rst_count_9" BEL "rst_count_10" BEL "rst_count_11" BEL "rst_count_12"
        BEL "rst_count_13" BEL "rst_count_14" BEL "rst_count_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/exe_a_src_exe_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/exe_a_src_exe_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/exe_b_src_exe_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/exe_b_src_exe_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/exe_alu_oper_exe_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/exe_alu_oper_exe_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/exe_alu_oper_exe_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/exe_alu_oper_exe_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_id_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_19" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_20" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_24" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/cp0_data_r_exe_31" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_19" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_20" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_24" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_id_31" BEL
        "MIPS/MIPS_CORE/DATAPATH/wb_wen_exe" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_19" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_20" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_24" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwda_exe_31" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_sign_exe" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_19" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_20" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_24" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_mem_31" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_19" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_20" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_24" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_id_31" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_19" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_20" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_24" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_exe_31" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_exe_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/wb_wen_mem" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_19" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_20" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_24" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/alu_out_wb_31" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_19" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_20" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_24" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_next_exe_31" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_exe_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_exe_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_exe_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_exe_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_exe_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/data_imm_exe_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_19" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_20" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_24" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_mem_31" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_data_mem_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/wb_wen_wb" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_mem_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_mem_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_mem_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_mem_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_mem_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_wb_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_wb_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_wb_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_wb_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/regw_addr_wb_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_19" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_20" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_24" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/fwdb_exe_31" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_19" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_20" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_24" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/inst_addr_31" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_0" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_1" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_2" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_3" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_4" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_5" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_6" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_7" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_8" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_9" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_10" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_11" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_12" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_13" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_14" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_15" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_16" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_17" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_18" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_19" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_20" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_21" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_22" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_23" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_24" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_25" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_26" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_27" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_28" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_29" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_30" BEL
        "MIPS/MIPS_CORE/DATAPATH/debug_data_signal_31" BEL
        "MIPS/MIPS_CORE/CONTROLLER/debug_step_prev" BEL
        "MIPS/MIPS_CORE/CP0/ir" BEL "MIPS/MIPS_CORE/CP0/ir_in_prev" BEL
        "MIPS/MIPS_CORE/CP0/regs_0" BEL "MIPS/MIPS_CORE/CP0/regs_1" BEL
        "MIPS/MIPS_CORE/CP0/regs_2" BEL "MIPS/MIPS_CORE/CP0/regs_3" BEL
        "MIPS/MIPS_CORE/CP0/regs_4" BEL "MIPS/MIPS_CORE/CP0/regs_5" BEL
        "MIPS/MIPS_CORE/CP0/regs_6" BEL "MIPS/MIPS_CORE/CP0/regs_7" BEL
        "MIPS/MIPS_CORE/CP0/regs_8" BEL "MIPS/MIPS_CORE/CP0/regs_9" BEL
        "MIPS/MIPS_CORE/CP0/regs_10" BEL "MIPS/MIPS_CORE/CP0/regs_11" BEL
        "MIPS/MIPS_CORE/CP0/regs_12" BEL "MIPS/MIPS_CORE/CP0/regs_13" BEL
        "MIPS/MIPS_CORE/CP0/regs_14" BEL "MIPS/MIPS_CORE/CP0/regs_15" BEL
        "MIPS/MIPS_CORE/CP0/regs_16" BEL "MIPS/MIPS_CORE/CP0/regs_17" BEL
        "MIPS/MIPS_CORE/CP0/regs_18" BEL "MIPS/MIPS_CORE/CP0/regs_19" BEL
        "MIPS/MIPS_CORE/CP0/regs_20" BEL "MIPS/MIPS_CORE/CP0/regs_21" BEL
        "MIPS/MIPS_CORE/CP0/regs_22" BEL "MIPS/MIPS_CORE/CP0/regs_23" BEL
        "MIPS/MIPS_CORE/CP0/regs_24" BEL "MIPS/MIPS_CORE/CP0/regs_25" BEL
        "MIPS/MIPS_CORE/CP0/regs_26" BEL "MIPS/MIPS_CORE/CP0/regs_27" BEL
        "MIPS/MIPS_CORE/CP0/regs_28" BEL "MIPS/MIPS_CORE/CP0/regs_29" BEL
        "MIPS/MIPS_CORE/CP0/regs_30" BEL "MIPS/MIPS_CORE/CP0/regs_31" BEL
        "MIPS/MIPS_CORE/CP0/regs_01" BEL "MIPS/MIPS_CORE/CP0/regs_110" BEL
        "MIPS/MIPS_CORE/CP0/regs_210" BEL "MIPS/MIPS_CORE/CP0/regs_32" BEL
        "MIPS/MIPS_CORE/CP0/regs_41" BEL "MIPS/MIPS_CORE/CP0/regs_51" BEL
        "MIPS/MIPS_CORE/CP0/regs_61" BEL "MIPS/MIPS_CORE/CP0/regs_71" BEL
        "MIPS/MIPS_CORE/CP0/regs_81" BEL "MIPS/MIPS_CORE/CP0/regs_91" BEL
        "MIPS/MIPS_CORE/CP0/regs_101" BEL "MIPS/MIPS_CORE/CP0/regs_111" BEL
        "MIPS/MIPS_CORE/CP0/regs_121" BEL "MIPS/MIPS_CORE/CP0/regs_131" BEL
        "MIPS/MIPS_CORE/CP0/regs_141" BEL "MIPS/MIPS_CORE/CP0/regs_151" BEL
        "MIPS/MIPS_CORE/CP0/regs_161" BEL "MIPS/MIPS_CORE/CP0/regs_171" BEL
        "MIPS/MIPS_CORE/CP0/regs_181" BEL "MIPS/MIPS_CORE/CP0/regs_191" BEL
        "MIPS/MIPS_CORE/CP0/regs_201" BEL "MIPS/MIPS_CORE/CP0/regs_211" BEL
        "MIPS/MIPS_CORE/CP0/regs_221" BEL "MIPS/MIPS_CORE/CP0/regs_231" BEL
        "MIPS/MIPS_CORE/CP0/regs_241" BEL "MIPS/MIPS_CORE/CP0/regs_251" BEL
        "MIPS/MIPS_CORE/CP0/regs_261" BEL "MIPS/MIPS_CORE/CP0/regs_271" BEL
        "MIPS/MIPS_CORE/CP0/regs_281" BEL "MIPS/MIPS_CORE/CP0/regs_291" BEL
        "MIPS/MIPS_CORE/CP0/regs_301" BEL "MIPS/MIPS_CORE/CP0/regs_311" BEL
        "MIPS/MIPS_CORE/CP0/regs_02" BEL "MIPS/MIPS_CORE/CP0/regs_112" BEL
        "MIPS/MIPS_CORE/CP0/regs_212" BEL "MIPS/MIPS_CORE/CP0/regs_33" BEL
        "MIPS/MIPS_CORE/CP0/regs_42" BEL "MIPS/MIPS_CORE/CP0/regs_52" BEL
        "MIPS/MIPS_CORE/CP0/regs_62" BEL "MIPS/MIPS_CORE/CP0/regs_72" BEL
        "MIPS/MIPS_CORE/CP0/regs_82" BEL "MIPS/MIPS_CORE/CP0/regs_92" BEL
        "MIPS/MIPS_CORE/CP0/regs_102" BEL "MIPS/MIPS_CORE/CP0/regs_113" BEL
        "MIPS/MIPS_CORE/CP0/regs_122" BEL "MIPS/MIPS_CORE/CP0/regs_132" BEL
        "MIPS/MIPS_CORE/CP0/regs_142" BEL "MIPS/MIPS_CORE/CP0/regs_152" BEL
        "MIPS/MIPS_CORE/CP0/regs_162" BEL "MIPS/MIPS_CORE/CP0/regs_172" BEL
        "MIPS/MIPS_CORE/CP0/regs_182" BEL "MIPS/MIPS_CORE/CP0/regs_192" BEL
        "MIPS/MIPS_CORE/CP0/regs_202" BEL "MIPS/MIPS_CORE/CP0/regs_213" BEL
        "MIPS/MIPS_CORE/CP0/regs_222" BEL "MIPS/MIPS_CORE/CP0/regs_232" BEL
        "MIPS/MIPS_CORE/CP0/regs_242" BEL "MIPS/MIPS_CORE/CP0/regs_252" BEL
        "MIPS/MIPS_CORE/CP0/regs_262" BEL "MIPS/MIPS_CORE/CP0/regs_272" BEL
        "MIPS/MIPS_CORE/CP0/regs_282" BEL "MIPS/MIPS_CORE/CP0/regs_292" BEL
        "MIPS/MIPS_CORE/CP0/regs_302" BEL "MIPS/MIPS_CORE/CP0/regs_312" BEL
        "MIPS/MIPS_CORE/CP0/regs_03" BEL "MIPS/MIPS_CORE/CP0/regs_114" BEL
        "MIPS/MIPS_CORE/CP0/regs_214" BEL "MIPS/MIPS_CORE/CP0/regs_34" BEL
        "MIPS/MIPS_CORE/CP0/regs_43" BEL "MIPS/MIPS_CORE/CP0/regs_53" BEL
        "MIPS/MIPS_CORE/CP0/regs_63" BEL "MIPS/MIPS_CORE/CP0/regs_73" BEL
        "MIPS/MIPS_CORE/CP0/regs_83" BEL "MIPS/MIPS_CORE/CP0/regs_93" BEL
        "MIPS/MIPS_CORE/CP0/regs_103" BEL "MIPS/MIPS_CORE/CP0/regs_115" BEL
        "MIPS/MIPS_CORE/CP0/regs_123" BEL "MIPS/MIPS_CORE/CP0/regs_133" BEL
        "MIPS/MIPS_CORE/CP0/regs_143" BEL "MIPS/MIPS_CORE/CP0/regs_153" BEL
        "MIPS/MIPS_CORE/CP0/regs_163" BEL "MIPS/MIPS_CORE/CP0/regs_173" BEL
        "MIPS/MIPS_CORE/CP0/regs_183" BEL "MIPS/MIPS_CORE/CP0/regs_193" BEL
        "MIPS/MIPS_CORE/CP0/regs_203" BEL "MIPS/MIPS_CORE/CP0/regs_215" BEL
        "MIPS/MIPS_CORE/CP0/regs_223" BEL "MIPS/MIPS_CORE/CP0/regs_233" BEL
        "MIPS/MIPS_CORE/CP0/regs_243" BEL "MIPS/MIPS_CORE/CP0/regs_253" BEL
        "MIPS/MIPS_CORE/CP0/regs_263" BEL "MIPS/MIPS_CORE/CP0/regs_273" BEL
        "MIPS/MIPS_CORE/CP0/regs_283" BEL "MIPS/MIPS_CORE/CP0/regs_293" BEL
        "MIPS/MIPS_CORE/CP0/regs_303" BEL "MIPS/MIPS_CORE/CP0/regs_313" BEL
        "MIPS/MIPS_CORE/CP0/regs_04" BEL "MIPS/MIPS_CORE/CP0/regs_116" BEL
        "MIPS/MIPS_CORE/CP0/regs_216" BEL "MIPS/MIPS_CORE/CP0/regs_35" BEL
        "MIPS/MIPS_CORE/CP0/regs_44" BEL "MIPS/MIPS_CORE/CP0/regs_54" BEL
        "MIPS/MIPS_CORE/CP0/regs_64" BEL "MIPS/MIPS_CORE/CP0/regs_74" BEL
        "MIPS/MIPS_CORE/CP0/regs_84" BEL "MIPS/MIPS_CORE/CP0/regs_94" BEL
        "MIPS/MIPS_CORE/CP0/regs_104" BEL "MIPS/MIPS_CORE/CP0/regs_117" BEL
        "MIPS/MIPS_CORE/CP0/regs_124" BEL "MIPS/MIPS_CORE/CP0/regs_134" BEL
        "MIPS/MIPS_CORE/CP0/regs_144" BEL "MIPS/MIPS_CORE/CP0/regs_154" BEL
        "MIPS/MIPS_CORE/CP0/regs_164" BEL "MIPS/MIPS_CORE/CP0/regs_174" BEL
        "MIPS/MIPS_CORE/CP0/regs_184" BEL "MIPS/MIPS_CORE/CP0/regs_194" BEL
        "MIPS/MIPS_CORE/CP0/regs_204" BEL "MIPS/MIPS_CORE/CP0/regs_217" BEL
        "MIPS/MIPS_CORE/CP0/regs_224" BEL "MIPS/MIPS_CORE/CP0/regs_234" BEL
        "MIPS/MIPS_CORE/CP0/regs_244" BEL "MIPS/MIPS_CORE/CP0/regs_254" BEL
        "MIPS/MIPS_CORE/CP0/regs_264" BEL "MIPS/MIPS_CORE/CP0/regs_274" BEL
        "MIPS/MIPS_CORE/CP0/regs_284" BEL "MIPS/MIPS_CORE/CP0/regs_294" BEL
        "MIPS/MIPS_CORE/CP0/regs_304" BEL "MIPS/MIPS_CORE/CP0/regs_314" BEL
        "MIPS/MIPS_CORE/CP0/regs_05" BEL "MIPS/MIPS_CORE/CP0/regs_118" BEL
        "MIPS/MIPS_CORE/CP0/regs_218" BEL "MIPS/MIPS_CORE/CP0/regs_36" BEL
        "MIPS/MIPS_CORE/CP0/regs_45" BEL "MIPS/MIPS_CORE/CP0/regs_55" BEL
        "MIPS/MIPS_CORE/CP0/regs_65" BEL "MIPS/MIPS_CORE/CP0/regs_75" BEL
        "MIPS/MIPS_CORE/CP0/regs_85" BEL "MIPS/MIPS_CORE/CP0/regs_95" BEL
        "MIPS/MIPS_CORE/CP0/regs_105" BEL "MIPS/MIPS_CORE/CP0/regs_119" BEL
        "MIPS/MIPS_CORE/CP0/regs_125" BEL "MIPS/MIPS_CORE/CP0/regs_135" BEL
        "MIPS/MIPS_CORE/CP0/regs_145" BEL "MIPS/MIPS_CORE/CP0/regs_155" BEL
        "MIPS/MIPS_CORE/CP0/regs_165" BEL "MIPS/MIPS_CORE/CP0/regs_175" BEL
        "MIPS/MIPS_CORE/CP0/regs_185" BEL "MIPS/MIPS_CORE/CP0/regs_195" BEL
        "MIPS/MIPS_CORE/CP0/regs_205" BEL "MIPS/MIPS_CORE/CP0/regs_219" BEL
        "MIPS/MIPS_CORE/CP0/regs_225" BEL "MIPS/MIPS_CORE/CP0/regs_235" BEL
        "MIPS/MIPS_CORE/CP0/regs_245" BEL "MIPS/MIPS_CORE/CP0/regs_255" BEL
        "MIPS/MIPS_CORE/CP0/regs_265" BEL "MIPS/MIPS_CORE/CP0/regs_275" BEL
        "MIPS/MIPS_CORE/CP0/regs_285" BEL "MIPS/MIPS_CORE/CP0/regs_295" BEL
        "MIPS/MIPS_CORE/CP0/regs_305" BEL "MIPS/MIPS_CORE/CP0/regs_315" BEL
        "MIPS/MIPS_CORE/CP0/regs_06" BEL "MIPS/MIPS_CORE/CP0/regs_120" BEL
        "MIPS/MIPS_CORE/CP0/regs_220" BEL "MIPS/MIPS_CORE/CP0/regs_37" BEL
        "MIPS/MIPS_CORE/CP0/regs_46" BEL "MIPS/MIPS_CORE/CP0/regs_56" BEL
        "MIPS/MIPS_CORE/CP0/regs_66" BEL "MIPS/MIPS_CORE/CP0/regs_76" BEL
        "MIPS/MIPS_CORE/CP0/regs_86" BEL "MIPS/MIPS_CORE/CP0/regs_96" BEL
        "MIPS/MIPS_CORE/CP0/regs_106" BEL "MIPS/MIPS_CORE/CP0/regs_1110" BEL
        "MIPS/MIPS_CORE/CP0/regs_126" BEL "MIPS/MIPS_CORE/CP0/regs_136" BEL
        "MIPS/MIPS_CORE/CP0/regs_146" BEL "MIPS/MIPS_CORE/CP0/regs_156" BEL
        "MIPS/MIPS_CORE/CP0/regs_166" BEL "MIPS/MIPS_CORE/CP0/regs_176" BEL
        "MIPS/MIPS_CORE/CP0/regs_186" BEL "MIPS/MIPS_CORE/CP0/regs_196" BEL
        "MIPS/MIPS_CORE/CP0/regs_206" BEL "MIPS/MIPS_CORE/CP0/regs_2110" BEL
        "MIPS/MIPS_CORE/CP0/regs_226" BEL "MIPS/MIPS_CORE/CP0/regs_236" BEL
        "MIPS/MIPS_CORE/CP0/regs_246" BEL "MIPS/MIPS_CORE/CP0/regs_256" BEL
        "MIPS/MIPS_CORE/CP0/regs_266" BEL "MIPS/MIPS_CORE/CP0/regs_276" BEL
        "MIPS/MIPS_CORE/CP0/regs_286" BEL "MIPS/MIPS_CORE/CP0/regs_296" BEL
        "MIPS/MIPS_CORE/CP0/regs_306" BEL "MIPS/MIPS_CORE/CP0/regs_316" BEL
        "MIPS/MIPS_CORE/CP0/regs_07" BEL "MIPS/MIPS_CORE/CP0/regs_127" BEL
        "MIPS/MIPS_CORE/CP0/regs_227" BEL "MIPS/MIPS_CORE/CP0/regs_38" BEL
        "MIPS/MIPS_CORE/CP0/regs_47" BEL "MIPS/MIPS_CORE/CP0/regs_57" BEL
        "MIPS/MIPS_CORE/CP0/regs_67" BEL "MIPS/MIPS_CORE/CP0/regs_77" BEL
        "MIPS/MIPS_CORE/CP0/regs_87" BEL "MIPS/MIPS_CORE/CP0/regs_97" BEL
        "MIPS/MIPS_CORE/CP0/regs_107" BEL "MIPS/MIPS_CORE/CP0/regs_1111" BEL
        "MIPS/MIPS_CORE/CP0/regs_128" BEL "MIPS/MIPS_CORE/CP0/regs_137" BEL
        "MIPS/MIPS_CORE/CP0/regs_147" BEL "MIPS/MIPS_CORE/CP0/regs_157" BEL
        "MIPS/MIPS_CORE/CP0/regs_167" BEL "MIPS/MIPS_CORE/CP0/regs_177" BEL
        "MIPS/MIPS_CORE/CP0/regs_187" BEL "MIPS/MIPS_CORE/CP0/regs_197" BEL
        "MIPS/MIPS_CORE/CP0/regs_207" BEL "MIPS/MIPS_CORE/CP0/regs_2111" BEL
        "MIPS/MIPS_CORE/CP0/regs_228" BEL "MIPS/MIPS_CORE/CP0/regs_237" BEL
        "MIPS/MIPS_CORE/CP0/regs_247" BEL "MIPS/MIPS_CORE/CP0/regs_257" BEL
        "MIPS/MIPS_CORE/CP0/regs_267" BEL "MIPS/MIPS_CORE/CP0/regs_277" BEL
        "MIPS/MIPS_CORE/CP0/regs_287" BEL "MIPS/MIPS_CORE/CP0/regs_297" BEL
        "MIPS/MIPS_CORE/CP0/regs_307" BEL "MIPS/MIPS_CORE/CP0/regs_317" BEL
        "MIPS/MIPS_CORE/CP0/regs_08" BEL "MIPS/MIPS_CORE/CP0/regs_129" BEL
        "MIPS/MIPS_CORE/CP0/regs_229" BEL "MIPS/MIPS_CORE/CP0/regs_39" BEL
        "MIPS/MIPS_CORE/CP0/regs_48" BEL "MIPS/MIPS_CORE/CP0/regs_58" BEL
        "MIPS/MIPS_CORE/CP0/regs_68" BEL "MIPS/MIPS_CORE/CP0/regs_78" BEL
        "MIPS/MIPS_CORE/CP0/regs_88" BEL "MIPS/MIPS_CORE/CP0/regs_98" BEL
        "MIPS/MIPS_CORE/CP0/regs_108" BEL "MIPS/MIPS_CORE/CP0/regs_1112" BEL
        "MIPS/MIPS_CORE/CP0/regs_1210" BEL "MIPS/MIPS_CORE/CP0/regs_138" BEL
        "MIPS/MIPS_CORE/CP0/regs_148" BEL "MIPS/MIPS_CORE/CP0/regs_158" BEL
        "MIPS/MIPS_CORE/CP0/regs_168" BEL "MIPS/MIPS_CORE/CP0/regs_178" BEL
        "MIPS/MIPS_CORE/CP0/regs_188" BEL "MIPS/MIPS_CORE/CP0/regs_198" BEL
        "MIPS/MIPS_CORE/CP0/regs_208" BEL "MIPS/MIPS_CORE/CP0/regs_2112" BEL
        "MIPS/MIPS_CORE/CP0/regs_2210" BEL "MIPS/MIPS_CORE/CP0/regs_238" BEL
        "MIPS/MIPS_CORE/CP0/regs_248" BEL "MIPS/MIPS_CORE/CP0/regs_258" BEL
        "MIPS/MIPS_CORE/CP0/regs_268" BEL "MIPS/MIPS_CORE/CP0/regs_278" BEL
        "MIPS/MIPS_CORE/CP0/regs_288" BEL "MIPS/MIPS_CORE/CP0/regs_298" BEL
        "MIPS/MIPS_CORE/CP0/regs_308" BEL "MIPS/MIPS_CORE/CP0/regs_318" BEL
        "MIPS/MIPS_CORE/CP0/regs_09" BEL "MIPS/MIPS_CORE/CP0/regs_130" BEL
        "MIPS/MIPS_CORE/CP0/regs_230" BEL "MIPS/MIPS_CORE/CP0/regs_310" BEL
        "MIPS/MIPS_CORE/CP0/regs_49" BEL "MIPS/MIPS_CORE/CP0/regs_59" BEL
        "MIPS/MIPS_CORE/CP0/regs_69" BEL "MIPS/MIPS_CORE/CP0/regs_79" BEL
        "MIPS/MIPS_CORE/CP0/regs_89" BEL "MIPS/MIPS_CORE/CP0/regs_99" BEL
        "MIPS/MIPS_CORE/CP0/regs_109" BEL "MIPS/MIPS_CORE/CP0/regs_1113" BEL
        "MIPS/MIPS_CORE/CP0/regs_1211" BEL "MIPS/MIPS_CORE/CP0/regs_139" BEL
        "MIPS/MIPS_CORE/CP0/regs_149" BEL "MIPS/MIPS_CORE/CP0/regs_159" BEL
        "MIPS/MIPS_CORE/CP0/regs_169" BEL "MIPS/MIPS_CORE/CP0/regs_179" BEL
        "MIPS/MIPS_CORE/CP0/regs_189" BEL "MIPS/MIPS_CORE/CP0/regs_199" BEL
        "MIPS/MIPS_CORE/CP0/regs_209" BEL "MIPS/MIPS_CORE/CP0/regs_2113" BEL
        "MIPS/MIPS_CORE/CP0/regs_2211" BEL "MIPS/MIPS_CORE/CP0/regs_239" BEL
        "MIPS/MIPS_CORE/CP0/regs_249" BEL "MIPS/MIPS_CORE/CP0/regs_259" BEL
        "MIPS/MIPS_CORE/CP0/regs_269" BEL "MIPS/MIPS_CORE/CP0/regs_279" BEL
        "MIPS/MIPS_CORE/CP0/regs_289" BEL "MIPS/MIPS_CORE/CP0/regs_299" BEL
        "MIPS/MIPS_CORE/CP0/regs_309" BEL "MIPS/MIPS_CORE/CP0/regs_319" BEL
        "MIPS/MIPS_CORE/CP0/regs_010" BEL "MIPS/MIPS_CORE/CP0/regs_140" BEL
        "MIPS/MIPS_CORE/CP0/regs_240" BEL "MIPS/MIPS_CORE/CP0/regs_320" BEL
        "MIPS/MIPS_CORE/CP0/regs_410" BEL "MIPS/MIPS_CORE/CP0/regs_510" BEL
        "MIPS/MIPS_CORE/CP0/regs_610" BEL "MIPS/MIPS_CORE/CP0/regs_710" BEL
        "MIPS/MIPS_CORE/CP0/regs_810" BEL "MIPS/MIPS_CORE/CP0/regs_910" BEL
        "MIPS/MIPS_CORE/CP0/regs_1010" BEL "MIPS/MIPS_CORE/CP0/regs_1114" BEL
        "MIPS/MIPS_CORE/CP0/regs_1212" BEL "MIPS/MIPS_CORE/CP0/regs_1310" BEL
        "MIPS/MIPS_CORE/CP0/regs_1410" BEL "MIPS/MIPS_CORE/CP0/regs_1510" BEL
        "MIPS/MIPS_CORE/CP0/regs_1610" BEL "MIPS/MIPS_CORE/CP0/regs_1710" BEL
        "MIPS/MIPS_CORE/CP0/regs_1810" BEL "MIPS/MIPS_CORE/CP0/regs_1910" BEL
        "MIPS/MIPS_CORE/CP0/regs_2010" BEL "MIPS/MIPS_CORE/CP0/regs_2114" BEL
        "MIPS/MIPS_CORE/CP0/regs_2212" BEL "MIPS/MIPS_CORE/CP0/regs_2310" BEL
        "MIPS/MIPS_CORE/CP0/regs_2410" BEL "MIPS/MIPS_CORE/CP0/regs_2510" BEL
        "MIPS/MIPS_CORE/CP0/regs_2610" BEL "MIPS/MIPS_CORE/CP0/regs_2710" BEL
        "MIPS/MIPS_CORE/CP0/regs_2810" BEL "MIPS/MIPS_CORE/CP0/regs_2910" BEL
        "MIPS/MIPS_CORE/CP0/regs_3010" BEL "MIPS/MIPS_CORE/CP0/regs_3110" BEL
        "MIPS/MIPS_CORE/CP0/regs_011" BEL "MIPS/MIPS_CORE/CP0/regs_150" BEL
        "MIPS/MIPS_CORE/CP0/regs_250" BEL "MIPS/MIPS_CORE/CP0/regs_321" BEL
        "MIPS/MIPS_CORE/CP0/regs_411" BEL "MIPS/MIPS_CORE/CP0/regs_511" BEL
        "MIPS/MIPS_CORE/CP0/regs_611" BEL "MIPS/MIPS_CORE/CP0/regs_711" BEL
        "MIPS/MIPS_CORE/CP0/regs_811" BEL "MIPS/MIPS_CORE/CP0/regs_911" BEL
        "MIPS/MIPS_CORE/CP0/regs_1011" BEL "MIPS/MIPS_CORE/CP0/regs_1115" BEL
        "MIPS/MIPS_CORE/CP0/regs_1213" BEL "MIPS/MIPS_CORE/CP0/regs_1311" BEL
        "MIPS/MIPS_CORE/CP0/regs_1411" BEL "MIPS/MIPS_CORE/CP0/regs_1511" BEL
        "MIPS/MIPS_CORE/CP0/regs_1611" BEL "MIPS/MIPS_CORE/CP0/regs_1711" BEL
        "MIPS/MIPS_CORE/CP0/regs_1811" BEL "MIPS/MIPS_CORE/CP0/regs_1911" BEL
        "MIPS/MIPS_CORE/CP0/regs_2011" BEL "MIPS/MIPS_CORE/CP0/regs_2115" BEL
        "MIPS/MIPS_CORE/CP0/regs_2213" BEL "MIPS/MIPS_CORE/CP0/regs_2311" BEL
        "MIPS/MIPS_CORE/CP0/regs_2411" BEL "MIPS/MIPS_CORE/CP0/regs_2511" BEL
        "MIPS/MIPS_CORE/CP0/regs_2611" BEL "MIPS/MIPS_CORE/CP0/regs_2711" BEL
        "MIPS/MIPS_CORE/CP0/regs_2811" BEL "MIPS/MIPS_CORE/CP0/regs_2911" BEL
        "MIPS/MIPS_CORE/CP0/regs_3011" BEL "MIPS/MIPS_CORE/CP0/regs_3111" BEL
        "MIPS/MIPS_CORE/CP0/regs_012" BEL "MIPS/MIPS_CORE/CP0/regs_160" BEL
        "MIPS/MIPS_CORE/CP0/regs_260" BEL "MIPS/MIPS_CORE/CP0/regs_322" BEL
        "MIPS/MIPS_CORE/CP0/regs_412" BEL "MIPS/MIPS_CORE/CP0/regs_512" BEL
        "MIPS/MIPS_CORE/CP0/regs_612" BEL "MIPS/MIPS_CORE/CP0/regs_712" BEL
        "MIPS/MIPS_CORE/CP0/regs_812" BEL "MIPS/MIPS_CORE/CP0/regs_912" BEL
        "MIPS/MIPS_CORE/CP0/regs_1012" BEL "MIPS/MIPS_CORE/CP0/regs_1116" BEL
        "MIPS/MIPS_CORE/CP0/regs_1214" BEL "MIPS/MIPS_CORE/CP0/regs_1312" BEL
        "MIPS/MIPS_CORE/CP0/regs_1412" BEL "MIPS/MIPS_CORE/CP0/regs_1512" BEL
        "MIPS/MIPS_CORE/CP0/regs_1612" BEL "MIPS/MIPS_CORE/CP0/regs_1712" BEL
        "MIPS/MIPS_CORE/CP0/regs_1812" BEL "MIPS/MIPS_CORE/CP0/regs_1912" BEL
        "MIPS/MIPS_CORE/CP0/regs_2012" BEL "MIPS/MIPS_CORE/CP0/regs_2116" BEL
        "MIPS/MIPS_CORE/CP0/regs_2214" BEL "MIPS/MIPS_CORE/CP0/regs_2312" BEL
        "MIPS/MIPS_CORE/CP0/regs_2412" BEL "MIPS/MIPS_CORE/CP0/regs_2512" BEL
        "MIPS/MIPS_CORE/CP0/regs_2612" BEL "MIPS/MIPS_CORE/CP0/regs_2712" BEL
        "MIPS/MIPS_CORE/CP0/regs_2812" BEL "MIPS/MIPS_CORE/CP0/regs_2912" BEL
        "MIPS/MIPS_CORE/CP0/regs_3012" BEL "MIPS/MIPS_CORE/CP0/regs_3112" BEL
        "MIPS/MIPS_CORE/CP0/regs_013" BEL "MIPS/MIPS_CORE/CP0/regs_170" BEL
        "MIPS/MIPS_CORE/CP0/regs_270" BEL "MIPS/MIPS_CORE/CP0/regs_323" BEL
        "MIPS/MIPS_CORE/CP0/regs_413" BEL "MIPS/MIPS_CORE/CP0/regs_513" BEL
        "MIPS/MIPS_CORE/CP0/regs_613" BEL "MIPS/MIPS_CORE/CP0/regs_713" BEL
        "MIPS/MIPS_CORE/CP0/regs_813" BEL "MIPS/MIPS_CORE/CP0/regs_913" BEL
        "MIPS/MIPS_CORE/CP0/regs_1013" BEL "MIPS/MIPS_CORE/CP0/regs_1117" BEL
        "MIPS/MIPS_CORE/CP0/regs_1215" BEL "MIPS/MIPS_CORE/CP0/regs_1313" BEL
        "MIPS/MIPS_CORE/CP0/regs_1413" BEL "MIPS/MIPS_CORE/CP0/regs_1513" BEL
        "MIPS/MIPS_CORE/CP0/regs_1613" BEL "MIPS/MIPS_CORE/CP0/regs_1713" BEL
        "MIPS/MIPS_CORE/CP0/regs_1813" BEL "MIPS/MIPS_CORE/CP0/regs_1913" BEL
        "MIPS/MIPS_CORE/CP0/regs_2013" BEL "MIPS/MIPS_CORE/CP0/regs_2117" BEL
        "MIPS/MIPS_CORE/CP0/regs_2215" BEL "MIPS/MIPS_CORE/CP0/regs_2313" BEL
        "MIPS/MIPS_CORE/CP0/regs_2413" BEL "MIPS/MIPS_CORE/CP0/regs_2513" BEL
        "MIPS/MIPS_CORE/CP0/regs_2613" BEL "MIPS/MIPS_CORE/CP0/regs_2713" BEL
        "MIPS/MIPS_CORE/CP0/regs_2813" BEL "MIPS/MIPS_CORE/CP0/regs_2913" BEL
        "MIPS/MIPS_CORE/CP0/regs_3013" BEL "MIPS/MIPS_CORE/CP0/regs_3113" BEL
        "MIPS/MIPS_CORE/CP0/regs_014" BEL "MIPS/MIPS_CORE/CP0/regs_180" BEL
        "MIPS/MIPS_CORE/CP0/regs_280" BEL "MIPS/MIPS_CORE/CP0/regs_324" BEL
        "MIPS/MIPS_CORE/CP0/regs_414" BEL "MIPS/MIPS_CORE/CP0/regs_514" BEL
        "MIPS/MIPS_CORE/CP0/regs_614" BEL "MIPS/MIPS_CORE/CP0/regs_714" BEL
        "MIPS/MIPS_CORE/CP0/regs_814" BEL "MIPS/MIPS_CORE/CP0/regs_914" BEL
        "MIPS/MIPS_CORE/CP0/regs_1014" BEL "MIPS/MIPS_CORE/CP0/regs_1118" BEL
        "MIPS/MIPS_CORE/CP0/regs_1216" BEL "MIPS/MIPS_CORE/CP0/regs_1314" BEL
        "MIPS/MIPS_CORE/CP0/regs_1414" BEL "MIPS/MIPS_CORE/CP0/regs_1514" BEL
        "MIPS/MIPS_CORE/CP0/regs_1614" BEL "MIPS/MIPS_CORE/CP0/regs_1714" BEL
        "MIPS/MIPS_CORE/CP0/regs_1814" BEL "MIPS/MIPS_CORE/CP0/regs_1914" BEL
        "MIPS/MIPS_CORE/CP0/regs_2014" BEL "MIPS/MIPS_CORE/CP0/regs_2118" BEL
        "MIPS/MIPS_CORE/CP0/regs_2216" BEL "MIPS/MIPS_CORE/CP0/regs_2314" BEL
        "MIPS/MIPS_CORE/CP0/regs_2414" BEL "MIPS/MIPS_CORE/CP0/regs_2514" BEL
        "MIPS/MIPS_CORE/CP0/regs_2614" BEL "MIPS/MIPS_CORE/CP0/regs_2714" BEL
        "MIPS/MIPS_CORE/CP0/regs_2814" BEL "MIPS/MIPS_CORE/CP0/regs_2914" BEL
        "MIPS/MIPS_CORE/CP0/regs_3014" BEL "MIPS/MIPS_CORE/CP0/regs_3114" BEL
        "MIPS/MIPS_CORE/CP0/regs_015" BEL "MIPS/MIPS_CORE/CP0/regs_190" BEL
        "MIPS/MIPS_CORE/CP0/regs_290" BEL "MIPS/MIPS_CORE/CP0/regs_325" BEL
        "MIPS/MIPS_CORE/CP0/regs_415" BEL "MIPS/MIPS_CORE/CP0/regs_515" BEL
        "MIPS/MIPS_CORE/CP0/regs_615" BEL "MIPS/MIPS_CORE/CP0/regs_715" BEL
        "MIPS/MIPS_CORE/CP0/regs_815" BEL "MIPS/MIPS_CORE/CP0/regs_915" BEL
        "MIPS/MIPS_CORE/CP0/regs_1015" BEL "MIPS/MIPS_CORE/CP0/regs_1119" BEL
        "MIPS/MIPS_CORE/CP0/regs_1217" BEL "MIPS/MIPS_CORE/CP0/regs_1315" BEL
        "MIPS/MIPS_CORE/CP0/regs_1415" BEL "MIPS/MIPS_CORE/CP0/regs_1515" BEL
        "MIPS/MIPS_CORE/CP0/regs_1615" BEL "MIPS/MIPS_CORE/CP0/regs_1715" BEL
        "MIPS/MIPS_CORE/CP0/regs_1815" BEL "MIPS/MIPS_CORE/CP0/regs_1915" BEL
        "MIPS/MIPS_CORE/CP0/regs_2015" BEL "MIPS/MIPS_CORE/CP0/regs_2119" BEL
        "MIPS/MIPS_CORE/CP0/regs_2217" BEL "MIPS/MIPS_CORE/CP0/regs_2315" BEL
        "MIPS/MIPS_CORE/CP0/regs_2415" BEL "MIPS/MIPS_CORE/CP0/regs_2515" BEL
        "MIPS/MIPS_CORE/CP0/regs_2615" BEL "MIPS/MIPS_CORE/CP0/regs_2715" BEL
        "MIPS/MIPS_CORE/CP0/regs_2815" BEL "MIPS/MIPS_CORE/CP0/regs_2915" BEL
        "MIPS/MIPS_CORE/CP0/regs_3015" BEL "MIPS/MIPS_CORE/CP0/regs_3115" BEL
        "MIPS/MIPS_CORE/CP0/regs_016" BEL "MIPS/MIPS_CORE/CP0/regs_1100" BEL
        "MIPS/MIPS_CORE/CP0/regs_2100" BEL "MIPS/MIPS_CORE/CP0/regs_326" BEL
        "MIPS/MIPS_CORE/CP0/regs_416" BEL "MIPS/MIPS_CORE/CP0/regs_516" BEL
        "MIPS/MIPS_CORE/CP0/regs_616" BEL "MIPS/MIPS_CORE/CP0/regs_716" BEL
        "MIPS/MIPS_CORE/CP0/regs_816" BEL "MIPS/MIPS_CORE/CP0/regs_916" BEL
        "MIPS/MIPS_CORE/CP0/regs_1016" BEL "MIPS/MIPS_CORE/CP0/regs_1120" BEL
        "MIPS/MIPS_CORE/CP0/regs_1218" BEL "MIPS/MIPS_CORE/CP0/regs_1316" BEL
        "MIPS/MIPS_CORE/CP0/regs_1416" BEL "MIPS/MIPS_CORE/CP0/regs_1516" BEL
        "MIPS/MIPS_CORE/CP0/regs_1616" BEL "MIPS/MIPS_CORE/CP0/regs_1716" BEL
        "MIPS/MIPS_CORE/CP0/regs_1816" BEL "MIPS/MIPS_CORE/CP0/regs_1916" BEL
        "MIPS/MIPS_CORE/CP0/regs_2016" BEL "MIPS/MIPS_CORE/CP0/regs_2120" BEL
        "MIPS/MIPS_CORE/CP0/regs_2218" BEL "MIPS/MIPS_CORE/CP0/regs_2316" BEL
        "MIPS/MIPS_CORE/CP0/regs_2416" BEL "MIPS/MIPS_CORE/CP0/regs_2516" BEL
        "MIPS/MIPS_CORE/CP0/regs_2616" BEL "MIPS/MIPS_CORE/CP0/regs_2716" BEL
        "MIPS/MIPS_CORE/CP0/regs_2816" BEL "MIPS/MIPS_CORE/CP0/regs_2916" BEL
        "MIPS/MIPS_CORE/CP0/regs_3016" BEL "MIPS/MIPS_CORE/CP0/regs_3116" BEL
        "MIPS/MIPS_CORE/CP0/regs_017" BEL "MIPS/MIPS_CORE/CP0/regs_1101" BEL
        "MIPS/MIPS_CORE/CP0/regs_2101" BEL "MIPS/MIPS_CORE/CP0/regs_327" BEL
        "MIPS/MIPS_CORE/CP0/regs_417" BEL "MIPS/MIPS_CORE/CP0/regs_517" BEL
        "MIPS/MIPS_CORE/CP0/regs_617" BEL "MIPS/MIPS_CORE/CP0/regs_717" BEL
        "MIPS/MIPS_CORE/CP0/regs_817" BEL "MIPS/MIPS_CORE/CP0/regs_917" BEL
        "MIPS/MIPS_CORE/CP0/regs_1017" BEL "MIPS/MIPS_CORE/CP0/regs_1121" BEL
        "MIPS/MIPS_CORE/CP0/regs_1219" BEL "MIPS/MIPS_CORE/CP0/regs_1317" BEL
        "MIPS/MIPS_CORE/CP0/regs_1417" BEL "MIPS/MIPS_CORE/CP0/regs_1517" BEL
        "MIPS/MIPS_CORE/CP0/regs_1617" BEL "MIPS/MIPS_CORE/CP0/regs_1717" BEL
        "MIPS/MIPS_CORE/CP0/regs_1817" BEL "MIPS/MIPS_CORE/CP0/regs_1917" BEL
        "MIPS/MIPS_CORE/CP0/regs_2017" BEL "MIPS/MIPS_CORE/CP0/regs_2121" BEL
        "MIPS/MIPS_CORE/CP0/regs_2219" BEL "MIPS/MIPS_CORE/CP0/regs_2317" BEL
        "MIPS/MIPS_CORE/CP0/regs_2417" BEL "MIPS/MIPS_CORE/CP0/regs_2517" BEL
        "MIPS/MIPS_CORE/CP0/regs_2617" BEL "MIPS/MIPS_CORE/CP0/regs_2717" BEL
        "MIPS/MIPS_CORE/CP0/regs_2817" BEL "MIPS/MIPS_CORE/CP0/regs_2917" BEL
        "MIPS/MIPS_CORE/CP0/regs_3017" BEL "MIPS/MIPS_CORE/CP0/regs_3117" BEL
        "MIPS/MIPS_CORE/CP0/regs_018" BEL "MIPS/MIPS_CORE/CP0/regs_1102" BEL
        "MIPS/MIPS_CORE/CP0/regs_2102" BEL "MIPS/MIPS_CORE/CP0/regs_328" BEL
        "MIPS/MIPS_CORE/CP0/regs_418" BEL "MIPS/MIPS_CORE/CP0/regs_518" BEL
        "MIPS/MIPS_CORE/CP0/regs_618" BEL "MIPS/MIPS_CORE/CP0/regs_718" BEL
        "MIPS/MIPS_CORE/CP0/regs_818" BEL "MIPS/MIPS_CORE/CP0/regs_918" BEL
        "MIPS/MIPS_CORE/CP0/regs_1018" BEL "MIPS/MIPS_CORE/CP0/regs_1122" BEL
        "MIPS/MIPS_CORE/CP0/regs_1220" BEL "MIPS/MIPS_CORE/CP0/regs_1318" BEL
        "MIPS/MIPS_CORE/CP0/regs_1418" BEL "MIPS/MIPS_CORE/CP0/regs_1518" BEL
        "MIPS/MIPS_CORE/CP0/regs_1618" BEL "MIPS/MIPS_CORE/CP0/regs_1718" BEL
        "MIPS/MIPS_CORE/CP0/regs_1818" BEL "MIPS/MIPS_CORE/CP0/regs_1918" BEL
        "MIPS/MIPS_CORE/CP0/regs_2018" BEL "MIPS/MIPS_CORE/CP0/regs_2122" BEL
        "MIPS/MIPS_CORE/CP0/regs_2220" BEL "MIPS/MIPS_CORE/CP0/regs_2318" BEL
        "MIPS/MIPS_CORE/CP0/regs_2418" BEL "MIPS/MIPS_CORE/CP0/regs_2518" BEL
        "MIPS/MIPS_CORE/CP0/regs_2618" BEL "MIPS/MIPS_CORE/CP0/regs_2718" BEL
        "MIPS/MIPS_CORE/CP0/regs_2818" BEL "MIPS/MIPS_CORE/CP0/regs_2918" BEL
        "MIPS/MIPS_CORE/CP0/regs_3018" BEL "MIPS/MIPS_CORE/CP0/regs_3118" BEL
        "MIPS/MIPS_CORE/CP0/regs_019" BEL "MIPS/MIPS_CORE/CP0/regs_1103" BEL
        "MIPS/MIPS_CORE/CP0/regs_2103" BEL "MIPS/MIPS_CORE/CP0/regs_329" BEL
        "MIPS/MIPS_CORE/CP0/regs_419" BEL "MIPS/MIPS_CORE/CP0/regs_519" BEL
        "MIPS/MIPS_CORE/CP0/regs_619" BEL "MIPS/MIPS_CORE/CP0/regs_719" BEL
        "MIPS/MIPS_CORE/CP0/regs_819" BEL "MIPS/MIPS_CORE/CP0/regs_919" BEL
        "MIPS/MIPS_CORE/CP0/regs_1019" BEL "MIPS/MIPS_CORE/CP0/regs_1123" BEL
        "MIPS/MIPS_CORE/CP0/regs_1221" BEL "MIPS/MIPS_CORE/CP0/regs_1319" BEL
        "MIPS/MIPS_CORE/CP0/regs_1419" BEL "MIPS/MIPS_CORE/CP0/regs_1519" BEL
        "MIPS/MIPS_CORE/CP0/regs_1619" BEL "MIPS/MIPS_CORE/CP0/regs_1719" BEL
        "MIPS/MIPS_CORE/CP0/regs_1819" BEL "MIPS/MIPS_CORE/CP0/regs_1919" BEL
        "MIPS/MIPS_CORE/CP0/regs_2019" BEL "MIPS/MIPS_CORE/CP0/regs_2123" BEL
        "MIPS/MIPS_CORE/CP0/regs_2221" BEL "MIPS/MIPS_CORE/CP0/regs_2319" BEL
        "MIPS/MIPS_CORE/CP0/regs_2419" BEL "MIPS/MIPS_CORE/CP0/regs_2519" BEL
        "MIPS/MIPS_CORE/CP0/regs_2619" BEL "MIPS/MIPS_CORE/CP0/regs_2719" BEL
        "MIPS/MIPS_CORE/CP0/regs_2819" BEL "MIPS/MIPS_CORE/CP0/regs_2919" BEL
        "MIPS/MIPS_CORE/CP0/regs_3019" BEL "MIPS/MIPS_CORE/CP0/regs_3119" BEL
        "MIPS/MIPS_CORE/CP0/regs_020" BEL "MIPS/MIPS_CORE/CP0/regs_1104" BEL
        "MIPS/MIPS_CORE/CP0/regs_2104" BEL "MIPS/MIPS_CORE/CP0/regs_330" BEL
        "MIPS/MIPS_CORE/CP0/regs_420" BEL "MIPS/MIPS_CORE/CP0/regs_520" BEL
        "MIPS/MIPS_CORE/CP0/regs_620" BEL "MIPS/MIPS_CORE/CP0/regs_720" BEL
        "MIPS/MIPS_CORE/CP0/regs_820" BEL "MIPS/MIPS_CORE/CP0/regs_920" BEL
        "MIPS/MIPS_CORE/CP0/regs_1020" BEL "MIPS/MIPS_CORE/CP0/regs_1124" BEL
        "MIPS/MIPS_CORE/CP0/regs_1222" BEL "MIPS/MIPS_CORE/CP0/regs_1320" BEL
        "MIPS/MIPS_CORE/CP0/regs_1420" BEL "MIPS/MIPS_CORE/CP0/regs_1520" BEL
        "MIPS/MIPS_CORE/CP0/regs_1620" BEL "MIPS/MIPS_CORE/CP0/regs_1720" BEL
        "MIPS/MIPS_CORE/CP0/regs_1820" BEL "MIPS/MIPS_CORE/CP0/regs_1920" BEL
        "MIPS/MIPS_CORE/CP0/regs_2020" BEL "MIPS/MIPS_CORE/CP0/regs_2124" BEL
        "MIPS/MIPS_CORE/CP0/regs_2222" BEL "MIPS/MIPS_CORE/CP0/regs_2320" BEL
        "MIPS/MIPS_CORE/CP0/regs_2420" BEL "MIPS/MIPS_CORE/CP0/regs_2520" BEL
        "MIPS/MIPS_CORE/CP0/regs_2620" BEL "MIPS/MIPS_CORE/CP0/regs_2720" BEL
        "MIPS/MIPS_CORE/CP0/regs_2820" BEL "MIPS/MIPS_CORE/CP0/regs_2920" BEL
        "MIPS/MIPS_CORE/CP0/regs_3020" BEL "MIPS/MIPS_CORE/CP0/regs_3120" BEL
        "MIPS/MIPS_CORE/CP0/regs_021" BEL "MIPS/MIPS_CORE/CP0/regs_1105" BEL
        "MIPS/MIPS_CORE/CP0/regs_2105" BEL "MIPS/MIPS_CORE/CP0/regs_331" BEL
        "MIPS/MIPS_CORE/CP0/regs_421" BEL "MIPS/MIPS_CORE/CP0/regs_521" BEL
        "MIPS/MIPS_CORE/CP0/regs_621" BEL "MIPS/MIPS_CORE/CP0/regs_721" BEL
        "MIPS/MIPS_CORE/CP0/regs_821" BEL "MIPS/MIPS_CORE/CP0/regs_921" BEL
        "MIPS/MIPS_CORE/CP0/regs_1021" BEL "MIPS/MIPS_CORE/CP0/regs_1125" BEL
        "MIPS/MIPS_CORE/CP0/regs_1223" BEL "MIPS/MIPS_CORE/CP0/regs_1321" BEL
        "MIPS/MIPS_CORE/CP0/regs_1421" BEL "MIPS/MIPS_CORE/CP0/regs_1521" BEL
        "MIPS/MIPS_CORE/CP0/regs_1621" BEL "MIPS/MIPS_CORE/CP0/regs_1721" BEL
        "MIPS/MIPS_CORE/CP0/regs_1821" BEL "MIPS/MIPS_CORE/CP0/regs_1921" BEL
        "MIPS/MIPS_CORE/CP0/regs_2021" BEL "MIPS/MIPS_CORE/CP0/regs_2125" BEL
        "MIPS/MIPS_CORE/CP0/regs_2223" BEL "MIPS/MIPS_CORE/CP0/regs_2321" BEL
        "MIPS/MIPS_CORE/CP0/regs_2421" BEL "MIPS/MIPS_CORE/CP0/regs_2521" BEL
        "MIPS/MIPS_CORE/CP0/regs_2621" BEL "MIPS/MIPS_CORE/CP0/regs_2721" BEL
        "MIPS/MIPS_CORE/CP0/regs_2821" BEL "MIPS/MIPS_CORE/CP0/regs_2921" BEL
        "MIPS/MIPS_CORE/CP0/regs_3021" BEL "MIPS/MIPS_CORE/CP0/regs_3121" BEL
        "MIPS/MIPS_CORE/CP0/regs_022" BEL "MIPS/MIPS_CORE/CP0/regs_1106" BEL
        "MIPS/MIPS_CORE/CP0/regs_2106" BEL "MIPS/MIPS_CORE/CP0/regs_332" BEL
        "MIPS/MIPS_CORE/CP0/regs_422" BEL "MIPS/MIPS_CORE/CP0/regs_522" BEL
        "MIPS/MIPS_CORE/CP0/regs_622" BEL "MIPS/MIPS_CORE/CP0/regs_722" BEL
        "MIPS/MIPS_CORE/CP0/regs_822" BEL "MIPS/MIPS_CORE/CP0/regs_922" BEL
        "MIPS/MIPS_CORE/CP0/regs_1022" BEL "MIPS/MIPS_CORE/CP0/regs_1126" BEL
        "MIPS/MIPS_CORE/CP0/regs_1224" BEL "MIPS/MIPS_CORE/CP0/regs_1322" BEL
        "MIPS/MIPS_CORE/CP0/regs_1422" BEL "MIPS/MIPS_CORE/CP0/regs_1522" BEL
        "MIPS/MIPS_CORE/CP0/regs_1622" BEL "MIPS/MIPS_CORE/CP0/regs_1722" BEL
        "MIPS/MIPS_CORE/CP0/regs_1822" BEL "MIPS/MIPS_CORE/CP0/regs_1922" BEL
        "MIPS/MIPS_CORE/CP0/regs_2022" BEL "MIPS/MIPS_CORE/CP0/regs_2126" BEL
        "MIPS/MIPS_CORE/CP0/regs_2224" BEL "MIPS/MIPS_CORE/CP0/regs_2322" BEL
        "MIPS/MIPS_CORE/CP0/regs_2422" BEL "MIPS/MIPS_CORE/CP0/regs_2522" BEL
        "MIPS/MIPS_CORE/CP0/regs_2622" BEL "MIPS/MIPS_CORE/CP0/regs_2722" BEL
        "MIPS/MIPS_CORE/CP0/regs_2822" BEL "MIPS/MIPS_CORE/CP0/regs_2922" BEL
        "MIPS/MIPS_CORE/CP0/regs_3022" BEL "MIPS/MIPS_CORE/CP0/regs_3122" BEL
        "MIPS/MIPS_CORE/CP0/regs_023" BEL "MIPS/MIPS_CORE/CP0/regs_1107" BEL
        "MIPS/MIPS_CORE/CP0/regs_2107" BEL "MIPS/MIPS_CORE/CP0/regs_333" BEL
        "MIPS/MIPS_CORE/CP0/regs_423" BEL "MIPS/MIPS_CORE/CP0/regs_523" BEL
        "MIPS/MIPS_CORE/CP0/regs_623" BEL "MIPS/MIPS_CORE/CP0/regs_723" BEL
        "MIPS/MIPS_CORE/CP0/regs_823" BEL "MIPS/MIPS_CORE/CP0/regs_923" BEL
        "MIPS/MIPS_CORE/CP0/regs_1023" BEL "MIPS/MIPS_CORE/CP0/regs_1127" BEL
        "MIPS/MIPS_CORE/CP0/regs_1225" BEL "MIPS/MIPS_CORE/CP0/regs_1323" BEL
        "MIPS/MIPS_CORE/CP0/regs_1423" BEL "MIPS/MIPS_CORE/CP0/regs_1523" BEL
        "MIPS/MIPS_CORE/CP0/regs_1623" BEL "MIPS/MIPS_CORE/CP0/regs_1723" BEL
        "MIPS/MIPS_CORE/CP0/regs_1823" BEL "MIPS/MIPS_CORE/CP0/regs_1923" BEL
        "MIPS/MIPS_CORE/CP0/regs_2023" BEL "MIPS/MIPS_CORE/CP0/regs_2127" BEL
        "MIPS/MIPS_CORE/CP0/regs_2225" BEL "MIPS/MIPS_CORE/CP0/regs_2323" BEL
        "MIPS/MIPS_CORE/CP0/regs_2423" BEL "MIPS/MIPS_CORE/CP0/regs_2523" BEL
        "MIPS/MIPS_CORE/CP0/regs_2623" BEL "MIPS/MIPS_CORE/CP0/regs_2723" BEL
        "MIPS/MIPS_CORE/CP0/regs_2823" BEL "MIPS/MIPS_CORE/CP0/regs_2923" BEL
        "MIPS/MIPS_CORE/CP0/regs_3023" BEL "MIPS/MIPS_CORE/CP0/regs_3123" BEL
        "MIPS/MIPS_CORE/CP0/regs_024" BEL "MIPS/MIPS_CORE/CP0/regs_1108" BEL
        "MIPS/MIPS_CORE/CP0/regs_2108" BEL "MIPS/MIPS_CORE/CP0/regs_334" BEL
        "MIPS/MIPS_CORE/CP0/regs_424" BEL "MIPS/MIPS_CORE/CP0/regs_524" BEL
        "MIPS/MIPS_CORE/CP0/regs_624" BEL "MIPS/MIPS_CORE/CP0/regs_724" BEL
        "MIPS/MIPS_CORE/CP0/regs_824" BEL "MIPS/MIPS_CORE/CP0/regs_924" BEL
        "MIPS/MIPS_CORE/CP0/regs_1024" BEL "MIPS/MIPS_CORE/CP0/regs_1128" BEL
        "MIPS/MIPS_CORE/CP0/regs_1226" BEL "MIPS/MIPS_CORE/CP0/regs_1324" BEL
        "MIPS/MIPS_CORE/CP0/regs_1424" BEL "MIPS/MIPS_CORE/CP0/regs_1524" BEL
        "MIPS/MIPS_CORE/CP0/regs_1624" BEL "MIPS/MIPS_CORE/CP0/regs_1724" BEL
        "MIPS/MIPS_CORE/CP0/regs_1824" BEL "MIPS/MIPS_CORE/CP0/regs_1924" BEL
        "MIPS/MIPS_CORE/CP0/regs_2024" BEL "MIPS/MIPS_CORE/CP0/regs_2128" BEL
        "MIPS/MIPS_CORE/CP0/regs_2226" BEL "MIPS/MIPS_CORE/CP0/regs_2324" BEL
        "MIPS/MIPS_CORE/CP0/regs_2424" BEL "MIPS/MIPS_CORE/CP0/regs_2524" BEL
        "MIPS/MIPS_CORE/CP0/regs_2624" BEL "MIPS/MIPS_CORE/CP0/regs_2724" BEL
        "MIPS/MIPS_CORE/CP0/regs_2824" BEL "MIPS/MIPS_CORE/CP0/regs_2924" BEL
        "MIPS/MIPS_CORE/CP0/regs_3024" BEL "MIPS/MIPS_CORE/CP0/regs_3124" BEL
        "MIPS/MIPS_CORE/CP0/regs_025" BEL "MIPS/MIPS_CORE/CP0/regs_1109" BEL
        "MIPS/MIPS_CORE/CP0/regs_2109" BEL "MIPS/MIPS_CORE/CP0/regs_335" BEL
        "MIPS/MIPS_CORE/CP0/regs_425" BEL "MIPS/MIPS_CORE/CP0/regs_525" BEL
        "MIPS/MIPS_CORE/CP0/regs_625" BEL "MIPS/MIPS_CORE/CP0/regs_725" BEL
        "MIPS/MIPS_CORE/CP0/regs_825" BEL "MIPS/MIPS_CORE/CP0/regs_925" BEL
        "MIPS/MIPS_CORE/CP0/regs_1025" BEL "MIPS/MIPS_CORE/CP0/regs_1129" BEL
        "MIPS/MIPS_CORE/CP0/regs_1227" BEL "MIPS/MIPS_CORE/CP0/regs_1325" BEL
        "MIPS/MIPS_CORE/CP0/regs_1425" BEL "MIPS/MIPS_CORE/CP0/regs_1525" BEL
        "MIPS/MIPS_CORE/CP0/regs_1625" BEL "MIPS/MIPS_CORE/CP0/regs_1725" BEL
        "MIPS/MIPS_CORE/CP0/regs_1825" BEL "MIPS/MIPS_CORE/CP0/regs_1925" BEL
        "MIPS/MIPS_CORE/CP0/regs_2025" BEL "MIPS/MIPS_CORE/CP0/regs_2129" BEL
        "MIPS/MIPS_CORE/CP0/regs_2227" BEL "MIPS/MIPS_CORE/CP0/regs_2325" BEL
        "MIPS/MIPS_CORE/CP0/regs_2425" BEL "MIPS/MIPS_CORE/CP0/regs_2525" BEL
        "MIPS/MIPS_CORE/CP0/regs_2625" BEL "MIPS/MIPS_CORE/CP0/regs_2725" BEL
        "MIPS/MIPS_CORE/CP0/regs_2825" BEL "MIPS/MIPS_CORE/CP0/regs_2925" BEL
        "MIPS/MIPS_CORE/CP0/regs_3025" BEL "MIPS/MIPS_CORE/CP0/regs_3125" BEL
        "MIPS/MIPS_CORE/CP0/regs_026" BEL "MIPS/MIPS_CORE/CP0/regs_1130" BEL
        "MIPS/MIPS_CORE/CP0/regs_2130" BEL "MIPS/MIPS_CORE/CP0/regs_336" BEL
        "MIPS/MIPS_CORE/CP0/regs_426" BEL "MIPS/MIPS_CORE/CP0/regs_526" BEL
        "MIPS/MIPS_CORE/CP0/regs_626" BEL "MIPS/MIPS_CORE/CP0/regs_726" BEL
        "MIPS/MIPS_CORE/CP0/regs_826" BEL "MIPS/MIPS_CORE/CP0/regs_926" BEL
        "MIPS/MIPS_CORE/CP0/regs_1026" BEL "MIPS/MIPS_CORE/CP0/regs_1131" BEL
        "MIPS/MIPS_CORE/CP0/regs_1228" BEL "MIPS/MIPS_CORE/CP0/regs_1326" BEL
        "MIPS/MIPS_CORE/CP0/regs_1426" BEL "MIPS/MIPS_CORE/CP0/regs_1526" BEL
        "MIPS/MIPS_CORE/CP0/regs_1626" BEL "MIPS/MIPS_CORE/CP0/regs_1726" BEL
        "MIPS/MIPS_CORE/CP0/regs_1826" BEL "MIPS/MIPS_CORE/CP0/regs_1926" BEL
        "MIPS/MIPS_CORE/CP0/regs_2026" BEL "MIPS/MIPS_CORE/CP0/regs_2131" BEL
        "MIPS/MIPS_CORE/CP0/regs_2228" BEL "MIPS/MIPS_CORE/CP0/regs_2326" BEL
        "MIPS/MIPS_CORE/CP0/regs_2426" BEL "MIPS/MIPS_CORE/CP0/regs_2526" BEL
        "MIPS/MIPS_CORE/CP0/regs_2626" BEL "MIPS/MIPS_CORE/CP0/regs_2726" BEL
        "MIPS/MIPS_CORE/CP0/regs_2826" BEL "MIPS/MIPS_CORE/CP0/regs_2926" BEL
        "MIPS/MIPS_CORE/CP0/regs_3026" BEL "MIPS/MIPS_CORE/CP0/regs_3126" BEL
        "MIPS/MIPS_CORE/CP0/regs_027" BEL "MIPS/MIPS_CORE/CP0/regs_1132" BEL
        "MIPS/MIPS_CORE/CP0/regs_2132" BEL "MIPS/MIPS_CORE/CP0/regs_337" BEL
        "MIPS/MIPS_CORE/CP0/regs_427" BEL "MIPS/MIPS_CORE/CP0/regs_527" BEL
        "MIPS/MIPS_CORE/CP0/regs_627" BEL "MIPS/MIPS_CORE/CP0/regs_727" BEL
        "MIPS/MIPS_CORE/CP0/regs_827" BEL "MIPS/MIPS_CORE/CP0/regs_927" BEL
        "MIPS/MIPS_CORE/CP0/regs_1027" BEL "MIPS/MIPS_CORE/CP0/regs_1133" BEL
        "MIPS/MIPS_CORE/CP0/regs_1229" BEL "MIPS/MIPS_CORE/CP0/regs_1327" BEL
        "MIPS/MIPS_CORE/CP0/regs_1427" BEL "MIPS/MIPS_CORE/CP0/regs_1527" BEL
        "MIPS/MIPS_CORE/CP0/regs_1627" BEL "MIPS/MIPS_CORE/CP0/regs_1727" BEL
        "MIPS/MIPS_CORE/CP0/regs_1827" BEL "MIPS/MIPS_CORE/CP0/regs_1927" BEL
        "MIPS/MIPS_CORE/CP0/regs_2027" BEL "MIPS/MIPS_CORE/CP0/regs_2133" BEL
        "MIPS/MIPS_CORE/CP0/regs_2229" BEL "MIPS/MIPS_CORE/CP0/regs_2327" BEL
        "MIPS/MIPS_CORE/CP0/regs_2427" BEL "MIPS/MIPS_CORE/CP0/regs_2527" BEL
        "MIPS/MIPS_CORE/CP0/regs_2627" BEL "MIPS/MIPS_CORE/CP0/regs_2727" BEL
        "MIPS/MIPS_CORE/CP0/regs_2827" BEL "MIPS/MIPS_CORE/CP0/regs_2927" BEL
        "MIPS/MIPS_CORE/CP0/regs_3027" BEL "MIPS/MIPS_CORE/CP0/regs_3127" BEL
        "MIPS/MIPS_CORE/CP0/regs_028" BEL "MIPS/MIPS_CORE/CP0/regs_1134" BEL
        "MIPS/MIPS_CORE/CP0/regs_2134" BEL "MIPS/MIPS_CORE/CP0/regs_338" BEL
        "MIPS/MIPS_CORE/CP0/regs_428" BEL "MIPS/MIPS_CORE/CP0/regs_528" BEL
        "MIPS/MIPS_CORE/CP0/regs_628" BEL "MIPS/MIPS_CORE/CP0/regs_728" BEL
        "MIPS/MIPS_CORE/CP0/regs_828" BEL "MIPS/MIPS_CORE/CP0/regs_928" BEL
        "MIPS/MIPS_CORE/CP0/regs_1028" BEL "MIPS/MIPS_CORE/CP0/regs_1135" BEL
        "MIPS/MIPS_CORE/CP0/regs_1230" BEL "MIPS/MIPS_CORE/CP0/regs_1328" BEL
        "MIPS/MIPS_CORE/CP0/regs_1428" BEL "MIPS/MIPS_CORE/CP0/regs_1528" BEL
        "MIPS/MIPS_CORE/CP0/regs_1628" BEL "MIPS/MIPS_CORE/CP0/regs_1728" BEL
        "MIPS/MIPS_CORE/CP0/regs_1828" BEL "MIPS/MIPS_CORE/CP0/regs_1928" BEL
        "MIPS/MIPS_CORE/CP0/regs_2028" BEL "MIPS/MIPS_CORE/CP0/regs_2135" BEL
        "MIPS/MIPS_CORE/CP0/regs_2230" BEL "MIPS/MIPS_CORE/CP0/regs_2328" BEL
        "MIPS/MIPS_CORE/CP0/regs_2428" BEL "MIPS/MIPS_CORE/CP0/regs_2528" BEL
        "MIPS/MIPS_CORE/CP0/regs_2628" BEL "MIPS/MIPS_CORE/CP0/regs_2728" BEL
        "MIPS/MIPS_CORE/CP0/regs_2828" BEL "MIPS/MIPS_CORE/CP0/regs_2928" BEL
        "MIPS/MIPS_CORE/CP0/regs_3028" BEL "MIPS/MIPS_CORE/CP0/regs_3128" BEL
        "MIPS/MIPS_CORE/CP0/regs_029" BEL "MIPS/MIPS_CORE/CP0/regs_1136" BEL
        "MIPS/MIPS_CORE/CP0/regs_2136" BEL "MIPS/MIPS_CORE/CP0/regs_339" BEL
        "MIPS/MIPS_CORE/CP0/regs_429" BEL "MIPS/MIPS_CORE/CP0/regs_529" BEL
        "MIPS/MIPS_CORE/CP0/regs_629" BEL "MIPS/MIPS_CORE/CP0/regs_729" BEL
        "MIPS/MIPS_CORE/CP0/regs_829" BEL "MIPS/MIPS_CORE/CP0/regs_929" BEL
        "MIPS/MIPS_CORE/CP0/regs_1029" BEL "MIPS/MIPS_CORE/CP0/regs_1137" BEL
        "MIPS/MIPS_CORE/CP0/regs_1231" BEL "MIPS/MIPS_CORE/CP0/regs_1329" BEL
        "MIPS/MIPS_CORE/CP0/regs_1429" BEL "MIPS/MIPS_CORE/CP0/regs_1529" BEL
        "MIPS/MIPS_CORE/CP0/regs_1629" BEL "MIPS/MIPS_CORE/CP0/regs_1729" BEL
        "MIPS/MIPS_CORE/CP0/regs_1829" BEL "MIPS/MIPS_CORE/CP0/regs_1929" BEL
        "MIPS/MIPS_CORE/CP0/regs_2029" BEL "MIPS/MIPS_CORE/CP0/regs_2137" BEL
        "MIPS/MIPS_CORE/CP0/regs_2231" BEL "MIPS/MIPS_CORE/CP0/regs_2329" BEL
        "MIPS/MIPS_CORE/CP0/regs_2429" BEL "MIPS/MIPS_CORE/CP0/regs_2529" BEL
        "MIPS/MIPS_CORE/CP0/regs_2629" BEL "MIPS/MIPS_CORE/CP0/regs_2729" BEL
        "MIPS/MIPS_CORE/CP0/regs_2829" BEL "MIPS/MIPS_CORE/CP0/regs_2929" BEL
        "MIPS/MIPS_CORE/CP0/regs_3029" BEL "MIPS/MIPS_CORE/CP0/regs_3129" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_31" BEL "MIPS/MIPS_CORE/CP0/regs<9>_30"
        BEL "MIPS/MIPS_CORE/CP0/regs<9>_29" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_28" BEL "MIPS/MIPS_CORE/CP0/regs<9>_27"
        BEL "MIPS/MIPS_CORE/CP0/regs<9>_26" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_25" BEL "MIPS/MIPS_CORE/CP0/regs<9>_24"
        BEL "MIPS/MIPS_CORE/CP0/regs<9>_23" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_22" BEL "MIPS/MIPS_CORE/CP0/regs<9>_21"
        BEL "MIPS/MIPS_CORE/CP0/regs<9>_20" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_19" BEL "MIPS/MIPS_CORE/CP0/regs<9>_18"
        BEL "MIPS/MIPS_CORE/CP0/regs<9>_17" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_16" BEL "MIPS/MIPS_CORE/CP0/regs<9>_15"
        BEL "MIPS/MIPS_CORE/CP0/regs<9>_14" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_13" BEL "MIPS/MIPS_CORE/CP0/regs<9>_12"
        BEL "MIPS/MIPS_CORE/CP0/regs<9>_11" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_10" BEL "MIPS/MIPS_CORE/CP0/regs<9>_9" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_8" BEL "MIPS/MIPS_CORE/CP0/regs<9>_7" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_6" BEL "MIPS/MIPS_CORE/CP0/regs<9>_5" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_4" BEL "MIPS/MIPS_CORE/CP0/regs<9>_3" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_2" BEL "MIPS/MIPS_CORE/CP0/regs<9>_1" BEL
        "MIPS/MIPS_CORE/CP0/regs<9>_0" BEL "MIPS/MIPS_CORE/CP0/regs_030" BEL
        "MIPS/MIPS_CORE/CP0/regs_1138" BEL "MIPS/MIPS_CORE/CP0/regs_2138" BEL
        "MIPS/MIPS_CORE/CP0/regs_340" BEL "MIPS/MIPS_CORE/CP0/regs_430" BEL
        "MIPS/MIPS_CORE/CP0/regs_530" BEL "MIPS/MIPS_CORE/CP0/regs_630" BEL
        "MIPS/MIPS_CORE/CP0/regs_730" BEL "MIPS/MIPS_CORE/CP0/regs_830" BEL
        "MIPS/MIPS_CORE/CP0/regs_930" BEL "MIPS/MIPS_CORE/CP0/regs_1030" BEL
        "MIPS/MIPS_CORE/CP0/regs_1139" BEL "MIPS/MIPS_CORE/CP0/regs_1232" BEL
        "MIPS/MIPS_CORE/CP0/regs_1330" BEL "MIPS/MIPS_CORE/CP0/regs_1430" BEL
        "MIPS/MIPS_CORE/CP0/regs_1530" BEL "MIPS/MIPS_CORE/CP0/regs_1630" BEL
        "MIPS/MIPS_CORE/CP0/regs_1730" BEL "MIPS/MIPS_CORE/CP0/regs_1830" BEL
        "MIPS/MIPS_CORE/CP0/regs_1930" BEL "MIPS/MIPS_CORE/CP0/regs_2030" BEL
        "MIPS/MIPS_CORE/CP0/regs_2139" BEL "MIPS/MIPS_CORE/CP0/regs_2232" BEL
        "MIPS/MIPS_CORE/CP0/regs_2330" BEL "MIPS/MIPS_CORE/CP0/regs_2430" BEL
        "MIPS/MIPS_CORE/CP0/regs_2530" BEL "MIPS/MIPS_CORE/CP0/regs_2630" BEL
        "MIPS/MIPS_CORE/CP0/regs_2730" BEL "MIPS/MIPS_CORE/CP0/regs_2830" BEL
        "MIPS/MIPS_CORE/CP0/regs_2930" BEL "MIPS/MIPS_CORE/CP0/regs_3030" BEL
        "MIPS/MIPS_CORE/CP0/regs_3130" BEL "MIPS/MIPS_CORE/CP0/ir_wait" BEL
        "MIPS/MIPS_CORE/CP0/jump_en" BEL "MIPS/MIPS_CORE/CP0/ir_valid" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_0" BEL "MIPS/MIPS_CORE/CP0/jump_addr_1"
        BEL "MIPS/MIPS_CORE/CP0/jump_addr_2" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_3" BEL "MIPS/MIPS_CORE/CP0/jump_addr_4"
        BEL "MIPS/MIPS_CORE/CP0/jump_addr_5" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_6" BEL "MIPS/MIPS_CORE/CP0/jump_addr_7"
        BEL "MIPS/MIPS_CORE/CP0/jump_addr_8" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_9" BEL "MIPS/MIPS_CORE/CP0/jump_addr_10"
        BEL "MIPS/MIPS_CORE/CP0/jump_addr_11" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_12" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_13" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_14" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_15" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_16" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_17" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_18" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_19" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_20" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_21" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_22" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_23" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_24" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_25" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_26" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_27" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_28" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_29" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_30" BEL
        "MIPS/MIPS_CORE/CP0/jump_addr_31" BEL "MIPS/INST_ROM/addr_previous_0"
        BEL "MIPS/INST_ROM/addr_previous_1" BEL
        "MIPS/INST_ROM/addr_previous_2" BEL "MIPS/INST_ROM/addr_previous_3"
        BEL "MIPS/INST_ROM/addr_previous_4" BEL
        "MIPS/INST_ROM/addr_previous_5" BEL "MIPS/INST_ROM/addr_previous_6"
        BEL "MIPS/INST_ROM/addr_previous_7" BEL
        "MIPS/INST_ROM/addr_previous_8" BEL "MIPS/INST_ROM/addr_previous_9"
        BEL "MIPS/INST_ROM/addr_previous_10" BEL
        "MIPS/INST_ROM/addr_previous_11" BEL "MIPS/INST_ROM/addr_previous_12"
        BEL "MIPS/INST_ROM/addr_previous_13" BEL
        "MIPS/INST_ROM/addr_previous_14" BEL "MIPS/INST_ROM/addr_previous_15"
        BEL "MIPS/INST_ROM/addr_previous_16" BEL
        "MIPS/INST_ROM/addr_previous_17" BEL "MIPS/INST_ROM/addr_previous_18"
        BEL "MIPS/INST_ROM/addr_previous_19" BEL
        "MIPS/INST_ROM/addr_previous_20" BEL "MIPS/INST_ROM/addr_previous_21"
        BEL "MIPS/INST_ROM/addr_previous_22" BEL
        "MIPS/INST_ROM/addr_previous_23" BEL "MIPS/INST_ROM/addr_previous_24"
        BEL "MIPS/INST_ROM/addr_previous_25" BEL
        "MIPS/INST_ROM/addr_previous_26" BEL "MIPS/INST_ROM/addr_previous_27"
        BEL "MIPS/INST_ROM/addr_previous_28" BEL
        "MIPS/INST_ROM/addr_previous_29" BEL "MIPS/INST_ROM/out_0" BEL
        "MIPS/INST_ROM/out_1" BEL "MIPS/INST_ROM/out_2" BEL
        "MIPS/INST_ROM/out_3" BEL "MIPS/INST_ROM/out_4" BEL
        "MIPS/INST_ROM/out_5" BEL "MIPS/INST_ROM/out_6" BEL
        "MIPS/INST_ROM/out_7" BEL "MIPS/INST_ROM/out_8" BEL
        "MIPS/INST_ROM/out_9" BEL "MIPS/INST_ROM/out_10" BEL
        "MIPS/INST_ROM/out_11" BEL "MIPS/INST_ROM/out_12" BEL
        "MIPS/INST_ROM/out_13" BEL "MIPS/INST_ROM/out_14" BEL
        "MIPS/INST_ROM/out_15" BEL "MIPS/INST_ROM/out_16" BEL
        "MIPS/INST_ROM/out_17" BEL "MIPS/INST_ROM/out_18" BEL
        "MIPS/INST_ROM/out_21" BEL "MIPS/INST_ROM/out_22" BEL
        "MIPS/INST_ROM/out_23" BEL "MIPS/INST_ROM/out_25" BEL
        "MIPS/INST_ROM/out_26" BEL "MIPS/INST_ROM/out_27" BEL
        "MIPS/INST_ROM/out_28" BEL "MIPS/INST_ROM/out_29" BEL
        "MIPS/INST_ROM/out_30" BEL "MIPS/INST_ROM/counter_0" BEL
        "MIPS/INST_ROM/counter_1" BEL "MIPS/INST_ROM/counter_2" BEL
        "MIPS/INST_ROM/counter_3" BEL "MIPS/INST_ROM/ack" BEL
        "MIPS/DATA_RAM/addr_previous_0" BEL "MIPS/DATA_RAM/addr_previous_1"
        BEL "MIPS/DATA_RAM/addr_previous_2" BEL
        "MIPS/DATA_RAM/addr_previous_3" BEL "MIPS/DATA_RAM/addr_previous_4"
        BEL "MIPS/DATA_RAM/addr_previous_5" BEL
        "MIPS/DATA_RAM/addr_previous_6" BEL "MIPS/DATA_RAM/addr_previous_7"
        BEL "MIPS/DATA_RAM/addr_previous_8" BEL
        "MIPS/DATA_RAM/addr_previous_9" BEL "MIPS/DATA_RAM/addr_previous_10"
        BEL "MIPS/DATA_RAM/addr_previous_11" BEL
        "MIPS/DATA_RAM/addr_previous_12" BEL "MIPS/DATA_RAM/addr_previous_13"
        BEL "MIPS/DATA_RAM/addr_previous_14" BEL
        "MIPS/DATA_RAM/addr_previous_15" BEL "MIPS/DATA_RAM/addr_previous_16"
        BEL "MIPS/DATA_RAM/addr_previous_17" BEL
        "MIPS/DATA_RAM/addr_previous_18" BEL "MIPS/DATA_RAM/addr_previous_19"
        BEL "MIPS/DATA_RAM/addr_previous_20" BEL
        "MIPS/DATA_RAM/addr_previous_21" BEL "MIPS/DATA_RAM/addr_previous_22"
        BEL "MIPS/DATA_RAM/addr_previous_23" BEL
        "MIPS/DATA_RAM/addr_previous_24" BEL "MIPS/DATA_RAM/addr_previous_25"
        BEL "MIPS/DATA_RAM/addr_previous_26" BEL
        "MIPS/DATA_RAM/addr_previous_27" BEL "MIPS/DATA_RAM/addr_previous_28"
        BEL "MIPS/DATA_RAM/addr_previous_29" BEL "MIPS/DATA_RAM/counter_0" BEL
        "MIPS/DATA_RAM/counter_1" BEL "MIPS/DATA_RAM/counter_2" BEL
        "MIPS/DATA_RAM/counter_3" BEL "CLK_GEN/clkout4_buf" BEL "rst_all" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile161/SP" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile161/DP" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile162/SP" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile162/DP" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile261/SP" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile261/DP" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile262/SP" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile262/DP" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile61/SP" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile61/DP" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile62/SP" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile62/DP" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile1_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile1_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile1_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile1_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile1_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile1_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile1_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile1_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile11_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile11_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile11_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile11_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile11_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile11_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile11_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile11_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile12_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile12_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile12_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile12_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile12_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile12_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile12_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile12_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile13_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile13_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile13_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile13_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile13_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile13_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile13_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile13_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile14_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile14_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile14_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile14_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile14_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile14_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile14_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile14_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile15_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile15_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile15_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile15_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile15_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile15_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile15_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile15_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile2_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile2_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile2_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile2_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile2_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile2_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile2_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile2_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile21_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile21_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile21_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile21_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile21_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile21_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile21_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile21_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile22_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile22_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile22_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile22_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile22_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile22_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile22_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile22_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile23_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile23_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile23_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile23_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile23_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile23_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile23_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile23_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile24_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile24_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile24_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile24_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile24_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile24_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile24_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile24_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile25_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile25_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile25_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile25_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile25_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile25_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile25_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile25_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile3_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile3_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile3_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile3_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile3_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile3_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile3_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile3_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile4_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile4_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile4_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile4_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile4_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile4_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile4_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile4_RAMD" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile5_RAMA_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile5_RAMA" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile5_RAMB_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile5_RAMB" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile5_RAMC_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile5_RAMC" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile5_RAMD_D1" BEL
        "MIPS/MIPS_CORE/DATAPATH/REGFILE/Mram_regfile5_RAMD" PIN
        "MIPS/DATA_RAM/Mram_data_pins<63>" PIN
        "MIPS/DATA_RAM/Mram_data_pins<62>" PIN
        "MIPS/DATA_RAM/Mram_data_pins<65>" PIN
        "MIPS/DATA_RAM/Mram_data_pins<64>";
PIN VGA_DEBUG/FONT_8X16/BRAM_PC_VGA_0_pins<32> = BEL
        "VGA_DEBUG/FONT_8X16/BRAM_PC_VGA_0" PINNAME CLKARDCLK;
TIMEGRP CLK_GEN_clkout2 = BEL "BTN_SCAN/btn_x_0" BEL "BTN_SCAN/btn_x_1" BEL
        "BTN_SCAN/btn_x_2" BEL "BTN_SCAN/btn_x_3" BEL "BTN_SCAN/btn_x_4" BEL
        "BTN_SCAN/result_16" BEL "BTN_SCAN/result_19" BEL
        "BTN_SCAN/clk_count_0" BEL "BTN_SCAN/clk_count_1" BEL
        "BTN_SCAN/clk_count_2" BEL "BTN_SCAN/clk_count_3" BEL
        "BTN_SCAN/clk_count_4" BEL "BTN_SCAN/clk_count_5" BEL
        "BTN_SCAN/clk_count_6" BEL "BTN_SCAN/clk_count_7" BEL
        "BTN_SCAN/clk_count_8" BEL "BTN_SCAN/clk_count_9" BEL
        "BTN_SCAN/clk_count_10" BEL "BTN_SCAN/clk_count_11" BEL
        "BTN_SCAN/clk_count_12" BEL "BTN_SCAN/clk_count_13" BEL
        "BTN_SCAN/clk_count_14" BEL "BTN_SCAN/clk_count_15" BEL
        "BTN_SCAN/clk_count_16" BEL "BTN_SCAN/clk_count_17" BEL
        "CLK_GEN/clkout3_buf" BEL "DISPLAY/clk_count_0" BEL
        "DISPLAY/clk_count_3" BEL "DISPLAY/clk_count_1" BEL
        "DISPLAY/clk_count_2" BEL "DISPLAY/clk_count_6" BEL
        "DISPLAY/clk_count_4" BEL "DISPLAY/clk_count_5" BEL
        "DISPLAY/clk_count_9" BEL "DISPLAY/clk_count_7" BEL
        "DISPLAY/clk_count_8" BEL "DISPLAY/clk_count_12" BEL
        "DISPLAY/clk_count_10" BEL "DISPLAY/clk_count_11" BEL
        "DISPLAY/clk_count_15" BEL "DISPLAY/clk_count_13" BEL
        "DISPLAY/clk_count_14" BEL "DISPLAY/clk_count_18" BEL
        "DISPLAY/clk_count_16" BEL "DISPLAY/clk_count_17" BEL
        "DISPLAY/clk_count_19" BEL "DISPLAY/clk_count_20" BEL
        "DISPLAY/clk_count_21" BEL "DISPLAY/P2S_LED/s_clk" BEL
        "DISPLAY/P2S_LED/buff_0" BEL "DISPLAY/P2S_LED/buff_1" BEL
        "DISPLAY/P2S_LED/buff_2" BEL "DISPLAY/P2S_LED/buff_3" BEL
        "DISPLAY/P2S_LED/buff_4" BEL "DISPLAY/P2S_LED/buff_5" BEL
        "DISPLAY/P2S_LED/buff_6" BEL "DISPLAY/P2S_LED/buff_7" BEL
        "DISPLAY/P2S_LED/buff_8" BEL "DISPLAY/P2S_LED/buff_9" BEL
        "DISPLAY/P2S_LED/buff_10" BEL "DISPLAY/P2S_LED/buff_11" BEL
        "DISPLAY/P2S_LED/buff_12" BEL "DISPLAY/P2S_LED/buff_13" BEL
        "DISPLAY/P2S_LED/buff_14" BEL "DISPLAY/P2S_LED/buff_15" BEL
        "DISPLAY/P2S_LED/buff_16" BEL "DISPLAY/P2S_LED/data_count_0" BEL
        "DISPLAY/P2S_LED/data_count_1" BEL "DISPLAY/P2S_LED/data_count_2" BEL
        "DISPLAY/P2S_LED/data_count_3" BEL "DISPLAY/P2S_LED/state_FSM_FFd2"
        BEL "DISPLAY/P2S_LED/state_FSM_FFd1" BEL "DISPLAY/P2S_SEG/s_clk" BEL
        "DISPLAY/P2S_SEG/buff_6" BEL "DISPLAY/P2S_SEG/buff_7" BEL
        "DISPLAY/P2S_SEG/buff_8" BEL "DISPLAY/P2S_SEG/buff_9" BEL
        "DISPLAY/P2S_SEG/buff_10" BEL "DISPLAY/P2S_SEG/buff_11" BEL
        "DISPLAY/P2S_SEG/buff_12" BEL "DISPLAY/P2S_SEG/buff_13" BEL
        "DISPLAY/P2S_SEG/buff_14" BEL "DISPLAY/P2S_SEG/buff_15" BEL
        "DISPLAY/P2S_SEG/buff_16" BEL "DISPLAY/P2S_SEG/buff_17" BEL
        "DISPLAY/P2S_SEG/buff_18" BEL "DISPLAY/P2S_SEG/buff_19" BEL
        "DISPLAY/P2S_SEG/buff_20" BEL "DISPLAY/P2S_SEG/buff_21" BEL
        "DISPLAY/P2S_SEG/buff_22" BEL "DISPLAY/P2S_SEG/buff_23" BEL
        "DISPLAY/P2S_SEG/buff_24" BEL "DISPLAY/P2S_SEG/buff_25" BEL
        "DISPLAY/P2S_SEG/buff_26" BEL "DISPLAY/P2S_SEG/buff_27" BEL
        "DISPLAY/P2S_SEG/buff_28" BEL "DISPLAY/P2S_SEG/buff_29" BEL
        "DISPLAY/P2S_SEG/buff_30" BEL "DISPLAY/P2S_SEG/buff_31" BEL
        "DISPLAY/P2S_SEG/buff_32" BEL "DISPLAY/P2S_SEG/buff_33" BEL
        "DISPLAY/P2S_SEG/buff_34" BEL "DISPLAY/P2S_SEG/buff_35" BEL
        "DISPLAY/P2S_SEG/buff_36" BEL "DISPLAY/P2S_SEG/buff_37" BEL
        "DISPLAY/P2S_SEG/buff_38" BEL "DISPLAY/P2S_SEG/buff_39" BEL
        "DISPLAY/P2S_SEG/buff_40" BEL "DISPLAY/P2S_SEG/buff_41" BEL
        "DISPLAY/P2S_SEG/buff_42" BEL "DISPLAY/P2S_SEG/buff_43" BEL
        "DISPLAY/P2S_SEG/buff_44" BEL "DISPLAY/P2S_SEG/buff_45" BEL
        "DISPLAY/P2S_SEG/buff_46" BEL "DISPLAY/P2S_SEG/buff_47" BEL
        "DISPLAY/P2S_SEG/buff_48" BEL "DISPLAY/P2S_SEG/buff_49" BEL
        "DISPLAY/P2S_SEG/buff_50" BEL "DISPLAY/P2S_SEG/buff_51" BEL
        "DISPLAY/P2S_SEG/buff_52" BEL "DISPLAY/P2S_SEG/buff_53" BEL
        "DISPLAY/P2S_SEG/buff_54" BEL "DISPLAY/P2S_SEG/buff_55" BEL
        "DISPLAY/P2S_SEG/buff_56" BEL "DISPLAY/P2S_SEG/buff_57" BEL
        "DISPLAY/P2S_SEG/buff_58" BEL "DISPLAY/P2S_SEG/buff_59" BEL
        "DISPLAY/P2S_SEG/buff_60" BEL "DISPLAY/P2S_SEG/buff_61" BEL
        "DISPLAY/P2S_SEG/buff_62" BEL "DISPLAY/P2S_SEG/buff_63" BEL
        "DISPLAY/P2S_SEG/buff_64" BEL "DISPLAY/P2S_SEG/data_count_0" BEL
        "DISPLAY/P2S_SEG/data_count_1" BEL "DISPLAY/P2S_SEG/data_count_2" BEL
        "DISPLAY/P2S_SEG/data_count_3" BEL "DISPLAY/P2S_SEG/data_count_4" BEL
        "DISPLAY/P2S_SEG/data_count_5" BEL "DISPLAY/P2S_SEG/state_FSM_FFd2"
        BEL "DISPLAY/P2S_SEG/state_FSM_FFd1" BEL "VGA_DEBUG/strdata_0" BEL
        "VGA_DEBUG/strdata_1" BEL "VGA_DEBUG/strdata_2" BEL
        "VGA_DEBUG/strdata_3" BEL "VGA_DEBUG/strdata_4" BEL
        "VGA_DEBUG/strdata_5" BEL "VGA_DEBUG/strdata_6" BEL
        "VGA_DEBUG/strdata_8" BEL "VGA_DEBUG/strdata_9" BEL
        "VGA_DEBUG/strdata_10" BEL "VGA_DEBUG/strdata_11" BEL
        "VGA_DEBUG/strdata_12" BEL "VGA_DEBUG/strdata_13" BEL
        "VGA_DEBUG/strdata_14" BEL "VGA_DEBUG/strdata_16" BEL
        "VGA_DEBUG/strdata_17" BEL "VGA_DEBUG/strdata_18" BEL
        "VGA_DEBUG/strdata_19" BEL "VGA_DEBUG/strdata_20" BEL
        "VGA_DEBUG/strdata_24" BEL "VGA_DEBUG/strdata_25" BEL
        "VGA_DEBUG/strdata_26" BEL "VGA_DEBUG/strdata_27" BEL
        "VGA_DEBUG/strdata_28" BEL "VGA_DEBUG/strdata_29" BEL
        "VGA_DEBUG/strdata_30" BEL "VGA_DEBUG/strdata_32" BEL
        "VGA_DEBUG/strdata_33" BEL "VGA_DEBUG/strdata_34" BEL
        "VGA_DEBUG/strdata_35" BEL "VGA_DEBUG/strdata_36" BEL
        "VGA_DEBUG/strdata_37" BEL "VGA_DEBUG/strdata_38" BEL
        "VGA_DEBUG/strdata_40" BEL "VGA_DEBUG/strdata_41" BEL
        "VGA_DEBUG/strdata_42" BEL "VGA_DEBUG/strdata_43" BEL
        "VGA_DEBUG/strdata_44" BEL "VGA_DEBUG/strdata_45" BEL
        "VGA_DEBUG/strdata_46" BEL "VGA_DEBUG/strdata_48" BEL
        "VGA_DEBUG/strdata_49" BEL "VGA_DEBUG/strdata_50" BEL
        "VGA_DEBUG/strdata_51" BEL "VGA_DEBUG/strdata_52" BEL
        "VGA_DEBUG/ascii_code_0" BEL "VGA_DEBUG/ascii_code_1" BEL
        "VGA_DEBUG/ascii_code_2" BEL "VGA_DEBUG/ascii_code_3" BEL
        "VGA_DEBUG/ascii_code_4" BEL "VGA_DEBUG/ascii_code_5" BEL
        "VGA_DEBUG/ascii_code_6" BEL "VGA/R_0" BEL "VGA/R_1" BEL "VGA/R_2" BEL
        "VGA/R_3" BEL "VGA/G_0" BEL "VGA/G_1" BEL "VGA/G_2" BEL "VGA/G_3" BEL
        "VGA/B_0" BEL "VGA/B_1" BEL "VGA/B_2" BEL "VGA/B_3" BEL "VGA/VS" BEL
        "VGA/HS" BEL "VGA/h_count_0" BEL "VGA/h_count_1" BEL "VGA/h_count_2"
        BEL "VGA/h_count_3" BEL "VGA/h_count_4" BEL "VGA/h_count_5" BEL
        "VGA/h_count_6" BEL "VGA/h_count_7" BEL "VGA/h_count_8" BEL
        "VGA/h_count_9" BEL "VGA/v_count_0" BEL "VGA/v_count_1" BEL
        "VGA/v_count_2" BEL "VGA/v_count_3" BEL "VGA/v_count_4" BEL
        "VGA/v_count_5" BEL "VGA/v_count_6" BEL "VGA/v_count_7" BEL
        "VGA/v_count_8" BEL "VGA/v_count_9" BEL "VGA/rdn" PIN
        "VGA_DEBUG/FONT_8X16/BRAM_PC_VGA_0_pins<32>" BEL
        "VGA_DEBUG/Mram_data_buf61/DP" BEL "VGA_DEBUG/Mram_data_buf61/SP" BEL
        "VGA_DEBUG/Mram_data_buf62/DP" BEL "VGA_DEBUG/Mram_data_buf62/SP" BEL
        "VGA_DEBUG/Mram_data_buf1_RAMA_D1" BEL "VGA_DEBUG/Mram_data_buf1_RAMA"
        BEL "VGA_DEBUG/Mram_data_buf1_RAMB_D1" BEL
        "VGA_DEBUG/Mram_data_buf1_RAMB" BEL "VGA_DEBUG/Mram_data_buf1_RAMC_D1"
        BEL "VGA_DEBUG/Mram_data_buf1_RAMC" BEL
        "VGA_DEBUG/Mram_data_buf1_RAMD_D1" BEL "VGA_DEBUG/Mram_data_buf1_RAMD"
        BEL "VGA_DEBUG/Mram_data_buf2_RAMA_D1" BEL
        "VGA_DEBUG/Mram_data_buf2_RAMA" BEL "VGA_DEBUG/Mram_data_buf2_RAMB_D1"
        BEL "VGA_DEBUG/Mram_data_buf2_RAMB" BEL
        "VGA_DEBUG/Mram_data_buf2_RAMC_D1" BEL "VGA_DEBUG/Mram_data_buf2_RAMC"
        BEL "VGA_DEBUG/Mram_data_buf2_RAMD_D1" BEL
        "VGA_DEBUG/Mram_data_buf2_RAMD" BEL "VGA_DEBUG/Mram_data_buf3_RAMA_D1"
        BEL "VGA_DEBUG/Mram_data_buf3_RAMA" BEL
        "VGA_DEBUG/Mram_data_buf3_RAMB_D1" BEL "VGA_DEBUG/Mram_data_buf3_RAMB"
        BEL "VGA_DEBUG/Mram_data_buf3_RAMC_D1" BEL
        "VGA_DEBUG/Mram_data_buf3_RAMC" BEL "VGA_DEBUG/Mram_data_buf3_RAMD_D1"
        BEL "VGA_DEBUG/Mram_data_buf3_RAMD" BEL
        "VGA_DEBUG/Mram_data_buf4_RAMA_D1" BEL "VGA_DEBUG/Mram_data_buf4_RAMA"
        BEL "VGA_DEBUG/Mram_data_buf4_RAMB_D1" BEL
        "VGA_DEBUG/Mram_data_buf4_RAMB" BEL "VGA_DEBUG/Mram_data_buf4_RAMC_D1"
        BEL "VGA_DEBUG/Mram_data_buf4_RAMC" BEL
        "VGA_DEBUG/Mram_data_buf4_RAMD_D1" BEL "VGA_DEBUG/Mram_data_buf4_RAMD"
        BEL "VGA_DEBUG/Mram_data_buf5_RAMA_D1" BEL
        "VGA_DEBUG/Mram_data_buf5_RAMA" BEL "VGA_DEBUG/Mram_data_buf5_RAMB_D1"
        BEL "VGA_DEBUG/Mram_data_buf5_RAMB" BEL
        "VGA_DEBUG/Mram_data_buf5_RAMC_D1" BEL "VGA_DEBUG/Mram_data_buf5_RAMC"
        BEL "VGA_DEBUG/Mram_data_buf5_RAMD_D1" BEL
        "VGA_DEBUG/Mram_data_buf5_RAMD";
PIN CLK_GEN/mmcm_adv_inst_pins<2> = BEL "CLK_GEN/mmcm_adv_inst" PINNAME
        CLKIN1;
TIMEGRP TM_CLK = PIN "CLK_GEN/mmcm_adv_inst_pins<2>";
TS_CLKIN = PERIOD TIMEGRP "TM_CLK" 5 ns HIGH 50%;
TS_CLK_GEN_clkout3 = PERIOD TIMEGRP "CLK_GEN_clkout3" TS_CLKIN / 0.05 HIGH
        50%;
TS_CLK_GEN_clkout2 = PERIOD TIMEGRP "CLK_GEN_clkout2" TS_CLKIN / 0.125 HIGH
        50%;
SCHEMATIC END;

